/*!
 * Google Bootstrap
 *
 * This CSS is intended to be used on top of Twitter Bootstrap, to theme
 * it in the Google style.
 *
 * Constructed by Tim O'Donnell (http://github.com/todc)
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 4px 8px;
}
.g-select,
input,
textarea {
  width: 210px;
}
textarea {
  padding-right: 4px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
textarea.focused,
input[type="text"].focused,
input[type="password"].focused,
input[type="datetime"].focused,
input[type="datetime-local"].focused,
input[type="date"].focused,
input[type="month"].focused,
input[type="time"].focused,
input[type="week"].focused,
input[type="number"].focused,
input[type="email"].focused,
input[type="url"].focused,
input[type="search"].focused,
input[type="tel"].focused,
input[type="color"].focused,
.uneditable-input.focused {
  outline: none;
  border: 1px solid #4d90fe;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
input[type="radio"] {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  width: 15px;
  height: 15px;
}
input[type="checkbox"]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:active,
input[type="radio"]:active {
  border-color: #c6c6c6;
  background: #EBEBEB;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: #fff;
}
input[type="checkbox"]:checked::after {
  content: url(../img/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
}
input[type="radio"]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
  border-color: #4d90fe;
}
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
}
input[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  border: 1px solid #d9d9d9;
}
input[readonly]:hover,
select[readonly]:hover,
textarea[readonly]:hover,
input[readonly]:focus,
select[readonly]:focus,
textarea[readonly]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.g-select:focus:required:invalid,
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.g-select:focus:required:invalid:focus,
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #4d90fe;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.form-search .g-select,
.form-inline .g-select,
.form-horizontal .g-select,
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.btn.g-select {
  font-weight: bold;
  text-align: left;
  padding: 4px 8px;
}
.btn.g-select:after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 9px;
  right: 6px;
  width: 7px;
  height: 11px;
  background-image: url(../img/grey-disclosure-arrow-up-down.png);
  background-repeat: no-repeat;
}
.g-select-dropdown,
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0 0 6px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.g-select-dropdown.pull-right,
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.g-select-dropdown .divider,
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.g-select-dropdown a,
.dropdown-menu a {
  display: block;
  padding: 6px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.g-select-dropdown li {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.g-select-dropdown li:hover,
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #eeeeee;
}
.open {
  *z-index: 1000;
}
.open  > .g-select-dropdown,
.open  > .dropdown-menu {
  display: block;
}
.typeahead {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.well {
  background-color: #f1f1f1;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.well-large {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.well-small {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn {
  position: relative;
  padding: 4px 12px;
  margin: 0;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: default;
  background-color: #f3f3f3;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:hover {
  color: #333;
  text-shadow: none;
  border-color: #c6c6c6;
  background-color: #f5f5f5;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  z-index: 2;
}
.btn.active,
.btn:active {
  background-color: #f4f4f4;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn:active,
.btn:focus {
  /* Blue border on button focus. */

  border-color: #4D90FE;
}
.btn.active {
  background: #e8e8e8;
}
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled.active,
.btn.disabled:focus,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active,
.btn[disabled].active,
.btn[disabled]:focus {
  color: #b3b3b3;
  border-color: #d9d9d9;
  background-color: #e6e6e6;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 14px;
  line-height: normal;
}
.btn-small {
  padding: 5px 9px;
  font-size: 12px;
  line-height: 15px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 13px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover,
.btn-inverse:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-primary:active,
.btn-primary.active,
.btn-warning:active,
.btn-warning.active,
.btn-danger:active,
.btn-danger.active,
.btn-success:active,
.btn-success.active,
.btn-info:active,
.btn-info.active,
.btn-inverse:active,
.btn-inverse.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:hover,
.btn-warning.active,
.btn-warning:active,
.btn-warning:hover,
.btn-danger.active,
.btn-danger:active,
.btn-danger:hover,
.btn-success.active,
.btn-success:active,
.btn-success:hover,
.btn-info.active,
.btn-info:active,
.btn-info:hover,
.btn-inverse.active,
.btn-inverse:active,
.btn-inverse:hover {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.btn-primary {
  border: 1px solid #3079ED;
  background-color: #4b8cf7;
  background-color: #4b8cf7;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#4787ed', GradientType=0);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid #2F5BB7;
  background-color: #4387f5;
  background-color: #4387f5;
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#357ae8', GradientType=0);
}
.btn-primary.active {
  background: #1368f2;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary.disabled:focus,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
.btn-primary[disabled]:focus {
  color: #e6e6e6;
  border-color: #5f97f1;
  background-color: #7cabf9;
}
.btn-danger {
  border: 1px solid #C6322A;
  background-color: #d84a38;
  background-color: #d84a38;
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#d14836', GradientType=0);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  border: 1px solid #AF301F;
  background-color: #d34332;
  background-color: #d34332;
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c53727', GradientType=0);
}
.btn-danger:active,
.btn-danger.active {
  background-color: #cb3d2d;
  background-color: #cb3d2d;
  background-image: -moz-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -ms-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#b0281a));
  background-image: -webkit-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -o-linear-gradient(top, #dd4b39, #b0281a);
  background-image: linear-gradient(top, #dd4b39, #b0281a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#b0281a', GradientType=0);
}
.btn-danger.active {
  border-color: #a13024;
  background: #c33a2b;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger.disabled:focus,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
.btn-danger[disabled]:focus {
  color: #e6e6e6;
  border-color: #d9524a;
  background-color: #e07163;
}
.btn-warning {
  border: 1px solid #faa328;
  background-color: #faa937;
  background-color: #fbb046;
  background-image: -moz-linear-gradient(top, #fbb450, #faa937);
  background-image: -ms-linear-gradient(top, #fbb450, #faa937);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#faa937));
  background-image: -webkit-linear-gradient(top, #fbb450, #faa937);
  background-image: -o-linear-gradient(top, #fbb450, #faa937);
  background-image: linear-gradient(top, #fbb450, #faa937);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#faa937', GradientType=0);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  border: 1px solid #df8505;
  background-color: #faa937;
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
}
.btn-warning:active,
.btn-warning.active {
  background-color: #faa937;
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
}
.btn-warning.active {
  border-color: #df8505;
  background-color: #f89406;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning.disabled:focus,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
.btn-warning[disabled]:focus {
  color: #e6e6e6;
  border-color: #fbb450;
  background-color: #fbbf69;
}
.btn-success {
  border: 1px solid #359947;
  background-color: #35aa47;
  background-color: #35aa47;
  background-image: -moz-linear-gradient(top, #35aa47, #35aa47);
  background-image: -ms-linear-gradient(top, #35aa47, #35aa47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#35aa47));
  background-image: -webkit-linear-gradient(top, #35aa47, #35aa47);
  background-image: -o-linear-gradient(top, #35aa47, #35aa47);
  background-image: linear-gradient(top, #35aa47, #35aa47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#35aa47', GradientType=0);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  border: 1px solid #508c36;
  background-color: #2ba142;
  background-color: #2ba142;
  background-image: -moz-linear-gradient(top, #35aa47, #1d943b);
  background-image: -ms-linear-gradient(top, #35aa47, #1d943b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#1d943b));
  background-image: -webkit-linear-gradient(top, #35aa47, #1d943b);
  background-image: -o-linear-gradient(top, #35aa47, #1d943b);
  background-image: linear-gradient(top, #35aa47, #1d943b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#1d943b', GradientType=0);
}
.btn-success:active,
.btn-success.active {
  background-color: #239c3b;
  background-color: #239c3b;
  background-image: -moz-linear-gradient(top, #35aa47, #088728);
  background-image: -ms-linear-gradient(top, #35aa47, #088728);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#088728));
  background-image: -webkit-linear-gradient(top, #35aa47, #088728);
  background-image: -o-linear-gradient(top, #35aa47, #088728);
  background-image: linear-gradient(top, #35aa47, #088728);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#088728', GradientType=0);
}
.btn-success.active {
  border-color: #1a722b;
  background: #1e8733;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success.disabled:focus,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:active,
.btn-success[disabled].active,
.btn-success[disabled]:focus {
  color: #e6e6e6;
  border-color: #43be59;
  background-color: #4bc75e;
}
.btn-info {
  border: 1px solid #46b8da;
  background-color: #5bc0de;
  background-color: #5bc0de;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -ms-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(top, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#5bc0de', GradientType=0);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  border: 1px solid #31b0d5;
  background-color: #5bc0de;
  background-color: #5ec1df;
  background-image: -moz-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: -ms-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68c5e1), to(#4ebbdb));
  background-image: -webkit-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: -o-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: linear-gradient(top, #68c5e1, #4ebbdb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68c5e1', endColorstr='#4ebbdb', GradientType=0);
}
.btn-info:active,
.btn-info.active {
  background-color: #39b3d7;
  background-color: #5ec1df;
  background-image: -moz-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: -ms-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68c5e1), to(#4ebbdb));
  background-image: -webkit-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: -o-linear-gradient(top, #68c5e1, #4ebbdb);
  background-image: linear-gradient(top, #68c5e1, #4ebbdb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68c5e1', endColorstr='#4ebbdb', GradientType=0);
}
.btn-info.active {
  border-color: #28a1c5;
  background: #31b0d5;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info.disabled:focus,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:active,
.btn-info[disabled].active,
.btn-info[disabled]:focus {
  color: #e6e6e6;
  border-color: #70c8e2;
  background-color: #85d0e7;
}
.btn-inverse {
  border: 1px solid #464646;
  background-color: #4e4e4e;
  background-color: #4f4f4f;
  background-image: -moz-linear-gradient(top, #515151, #4b4b4b);
  background-image: -ms-linear-gradient(top, #515151, #4b4b4b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#515151), to(#4b4b4b));
  background-image: -webkit-linear-gradient(top, #515151, #4b4b4b);
  background-image: -o-linear-gradient(top, #515151, #4b4b4b);
  background-image: linear-gradient(top, #515151, #4b4b4b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#4b4b4b', GradientType=0);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active {
  border: 1px solid #373737;
  background-color: #4e4e4e;
  background-color: #4c4c4c;
  background-image: -moz-linear-gradient(top, #565656, #3f3f3f);
  background-image: -ms-linear-gradient(top, #565656, #3f3f3f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#565656), to(#3f3f3f));
  background-image: -webkit-linear-gradient(top, #565656, #3f3f3f);
  background-image: -o-linear-gradient(top, #565656, #3f3f3f);
  background-image: linear-gradient(top, #565656, #3f3f3f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656', endColorstr='#3f3f3f', GradientType=0);
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #191919;
  background-color: #464646;
  background-image: -moz-linear-gradient(top, #515151, #373737);
  background-image: -ms-linear-gradient(top, #515151, #373737);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#515151), to(#373737));
  background-image: -webkit-linear-gradient(top, #515151, #373737);
  background-image: -o-linear-gradient(top, #515151, #373737);
  background-image: linear-gradient(top, #515151, #373737);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#373737', GradientType=0);
}
.btn-inverse.disabled,
.btn-inverse.disabled:hover,
.btn-inverse.disabled:active,
.btn-inverse.disabled.active,
.btn-inverse.disabled:focus,
.btn-inverse[disabled],
.btn-inverse[disabled]:hover,
.btn-inverse[disabled]:active,
.btn-inverse[disabled].active,
.btn-inverse[disabled]:focus {
  color: #e6e6e6;
  border-color: #686868;
  background-color: #747474;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group > .g-select,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
}
.btn-group > .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .dropdown-toggle:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn-group > .btn-primary.dropdown-toggle:hover,
.btn-group > .btn-info.dropdown-toggle:hover,
.btn-group > .btn-warning.dropdown-toggle:hover,
.btn-group > .btn-danger.dropdown-toggle:hover,
.btn-group > .btn-success.dropdown-toggle:hover,
.btn-group > .btn-inverse.dropdown-toggle:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-group > .btn.dropdown-toggle:active,
.btn-group > .btn.dropdown-toggle.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-group > .btn-primary.dropdown-toggle:active,
.btn-group > .btn-primary.dropdown-toggle.active,
.btn-group > .btn-warning.dropdown-toggle:active,
.btn-group > .btn-warning.dropdown-toggle.active,
.btn-group > .btn-danger.dropdown-toggle:active,
.btn-group > .btn-danger.dropdown-toggle.active,
.btn-group > .btn-success.dropdown-toggle:active,
.btn-group > .btn-success.dropdown-toggle.active,
.btn-group > .btn-info.dropdown-toggle:active,
.btn-group > .btn-info.dropdown-toggle.active,
.btn-group > .btn-inverse.dropdown-toggle:active,
.btn-group > .btn-inverse.dropdown-toggle.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group > .btn-mini.dropdown-toggle {
  padding: 2px 4px;
}
.btn-group > .btn-small.dropdown-toggle {
  padding: 5px 7px;
}
.btn-group > .btn-large.dropdown-toggle {
  padding: 9px 9px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15);
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #f3f3f3;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #4b8cf7;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #faa937;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #d84a38;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #35aa47;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #5bc0de;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #4e4e4e;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn .caret {
  margin-top: 8px;
}
.btn-mini .caret {
  margin-top: 5px;
}
.btn-small .caret {
  margin-top: 6px;
}
.btn-large .caret {
  margin-top: 6px;
}
.alert {
  padding: 8px 35px 8px 10px;
  text-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.alert-success,
.alert-danger,
.alert-error,
.alert-info {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-danger,
.alert-error {
  border-color: #d59595;
  color: #b94a48;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #4D90FE;
}
.nav-tabs > li > a {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.nav-pills > li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #4D90FE;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2;
}
.nav-tabs > li > a {
  color: #666;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  font-weight: bold;
  color: #333;
}
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.tabs-left > .nav-tabs > li > a {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.tabs-right > .nav-tabs > li > a {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.breadcrumb {
  background-color: #f3f3f3;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pagination ul {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pagination a {
  position: relative;
  padding: 4px 12px;
  margin-left: -1px;
  border: 1px solid #dcdcdc;
  background-color: #f3f3f3;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: default;
  outline: none;
  overflow: visible;
  z-index: 1000;
}
.pagination a:hover,
.pagination a:active {
  border-color: #c6c6c6;
  z-index: 1010;
  background-color: #f5f5f5;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pagination a:active {
  background-color: #f4f4f4;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pagination .active a {
  color: #4D90FE;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #b3b3b3;
  border-color: #d9d9d9;
  background-color: #f3f3f3;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.pagination .disabled a [class^="icon-"] {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.pagination li:first-child a {
  margin-left: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.pager a {
  padding: 4px 12px;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f3f3f3;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
  color: #333;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  cursor: default;
  outline: none;
  overflow: visible;
}
.pager a:hover {
  border-color: #c6c6c6;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pager a:active {
  background-color: #f4f4f4;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #b3b3b3;
  border-color: #d9d9d9;
  background-color: #f3f3f3;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.tooltip {
  font-weight: bold;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.popover.top .arrow {
  bottom: 0;
  left: 50%;
  margin-bottom: -3px;
  margin-left: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #ffffff;
}
.popover.top .arrowbefore {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bbbbbb;
}
.popover.right .arrow {
  top: 50%;
  left: 0;
  margin-left: -3px;
  margin-top: -9px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #ffffff;
  border-color: transparent #ffffff;
}
.popover.right .arrowbefore {
  top: 50%;
  left: 0;
  margin-left: -4px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #bbbbbb;
  border-color: transparent #bbbbbb;
}
.popover.bottom .arrow {
  top: 0;
  left: 50%;
  margin-top: -3px;
  margin-left: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
}
.popover.bottom .arrowbefore {
  top: 0;
  left: 50%;
  margin-top: -4px;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bbbbbb;
}
.popover.left .arrow {
  top: 50%;
  right: 0;
  margin-right: -3px;
  margin-top: -9px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #ffffff;
}
.popover.left .arrowbefore {
  top: 50%;
  right: 0;
  margin-right: -4px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #bbbbbb;
}
.popover .arrowbefore {
  position: absolute;
  width: 0;
  height: 0;
}
.popover-inner {
  padding: 0px;
  border: 1px solid;
  border-color: #bbb #bbb #a8a8a8;
  background: #bbb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.popover-title {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.popover-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.progress {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}